.python-version

# Projects
alma-local/

# Cnn-pytorch
cnn-pytorch/cnn_pytorch/snippets.py
cnn-pytorch/cnn_pytorch/IMPROVEMENTS.md
cnn-pytorch/data_local/

# Image-processing
image-processing/data/png/output/*.png
image-processing/data/png/test/pos/*.png
image-processing/data/png/test/neg/*.png
image-processing/data/png/train/pos/*.png
image-processing/data/png/train/neg/*.png
image-processing/data/fits/pos/*.fits

# Data
data/png/test/pos/*.png
data/png/test/neg/*.png
data/png/train/pos/*.png
data/png/train/neg/*.png
data/fits/pos/*.fits
